* {
    box-sizing: border-box;
}

:root {
  --bs-font-sans-serif: 'Inter', sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
}

body,
.text-body,
p, a, li, span, div {
  font-family: 'Inter', sans-serif !important;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 36px !important;
    font-weight: 400 !important;
}

li {
    list-style-type: none;
}

h1, h3 {
    font-family: 'Manrope', sans-serif !important;
    font-weight: 700 !important;
}

h4 {
    font-weight: 700 !important;
    font-size: 32px;
}

.nav-bar {
    margin-top: 10px;
    padding: 0 25px;
}

.menu {
    background-color: #FFFFFF;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    margin-top: 10px;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.menu-a {
    text-decoration: none;
    color: black;
    font-size: 36px;
     white-space: nowrap;
}

.menu-a:hover {
    color: black;
}

.menu-item {
    display: inline-block;
    margin-right: 30px;
}

.wrapper {
    margin-top: 150px;
    padding: 0 50px;
    max-width: 100%;
    overflow: hidden;
}
.col-11 {
    text-align: right;
}

.wrapper {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
}

.main-info {
    display: flex;
}

.main-info img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
}

.pluses {
    margin-top: 150px;
}

.pluses-blocks {
    display: flex;
    text-align: center;
}

.pluses-text {
    font-size: 24px;
}

.search {
    margin-top: 150px;
}

.search-block {
    margin-top: 50px;
    margin-bottom: 50px;
}

.search-block img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    object-fit: contain;
}

footer {
    background-color: #606060;
    margin: 0 0 0 0;
}

.blue-btn {
    font-size: 36px !important;
    padding: 0 !important;
    font-family: 'Manrope', sans-serif;
    width: 400px;
    height: 63px;
    background: #005BAA;
    color: white;
    padding: 12px 24px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.blue-btn:hover {
    background: #003d7a;
}

.black-btn {
    font-size: 36px !important;
    padding: 0 !important;
    font-family: 'Manrope', sans-serif;
    width: 400px;
    height: 63px;
    border: solid;
    border-color: black;
    background-color: white;
    border-width: 2px;
    padding: 12px 24px;
    font-size: 18px;
    text-align: center;
}

.into-footer {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
}

.footer-title {
    color: white;
    font-size: 24px;
}

.footer-text {
    color: #BEBEBE;
    font-size: 16px;
    padding-left: 0;
}

.footer-a {
    color: #BEBEBE;
    text-decoration: none;    
}

.footer-a:hover {
    color: #005BAA;
}